// Title & Version
.topholder.flex
	// Toggle the type of sheet
	.type-selector.label
		input.hidden.sheet-3waybox(type='checkbox', name='attr_sheet_type', value='faction')
		input.sheet-3waybox(type='radio', name='attr_sheet_type', value='character', checked)
		input.sheet-3waybox(type='radio', name='attr_sheet_type', value='crew')
		input.sheet-3waybox(type='radio', name='attr_sheet_type', value='faction')
		span(data-i18n='character_mode')
		span(data-i18n='crew_mode')
		span(data-i18n='faction_mode')
	label.settings-checkbox
		+checkbox('show_settings') y
	.version
		span.version-text(data-i18n='version')
		span(name='attr_version')
+hidden-input('show_settings')(value='0').hider
// Settings
.settings.flex-wrap
	.setting-char.generaterow
		select(name='attr_generate_source_character', title='Choose source')
			each playbook in playbooks
				option(value=playbook, data-i18n=playbook)
		label.generatebutton
			+checkbox('generate_ability')(data-i18n='add_abilities')
		label.generatebutton
			+checkbox('generate_friend')(data-i18n='add_friends')
		label.generatebutton
			+checkbox('generate_playbookitem')(data-i18n='add_items')
	.setting-crew.generaterow
		select(name='attr_generate_source_crew', title='Choose source')
			each crew in crews
				option(value=crew, data-i18n=crew)
		label.generatebutton
			+checkbox('generate_crewability')(data-i18n='add_abilities')
		label.generatebutton
			+checkbox('generate_contact')(data-i18n='add_contacts')
		label.generatebutton
			+checkbox('generate_upgrade')(data-i18n='add_upgrades')
	.setting-faction.generaterow
		label.generatebutton
			+checkbox('generate_factions')(data-i18n='generate_factions')
	.setting-char
		label
			select(name='attr_setting_extra_stress', title='Stress Boxes')
				option(value='0', selected) 9
				option(value='1') 10
				option(value='2') 11
				option(value='3') 12
			span(data-i18n='number_stress_boxes')
	.setting-char
		label
			+checkbox('setting_extra_trauma').checkbox.squarebox
			span(data-i18n='show_extra_trauma_box')
	.setting-char.setting-crew
		label
			+checkbox('setting_extra_xp').checkbox.squarebox
			span(data-i18n='show_extra_xp_condition')
	//- Strictures: can be deleted safely
	if (showStrictures)
		.setting-char
			label
				+checkbox('setting_show_strictures').checkbox.squarebox
				span(data-i18n='show_vampire_strictures')
	//- Frame: can be deleted safely
	if (showFrame)
		.setting-char
			label
				+checkbox('setting_show_frame').checkbox.squarebox
				span(data-i18n='show_frame_section')
	.setting-char.setting-crew
		label
			+checkbox('setting_show_itemdesc')(checked).checkbox.squarebox
			span(data-i18n='show_item_description')
	.setting-char
		label
			+checkbox('setting_show_cohort').checkbox.squarebox
			span(data-i18n='show_cohort_section')
	.setting-char
		label
			+text-input('setting_stress_label', 'stress')
			span(data-i18n='stress_label')
	.setting-char
		label
			+text-input('setting_trauma_label', 'trauma')
			span(data-i18n='trauma_label')
	//- Deity and origin fields. Can be deleted safely
	if (showDeityOrigin)
		.setting-crew
			label
				+checkbox('setting_show_deity').checkbox.squarebox
				span(data-i18n='show_deity')
		.setting-crew
			label
				+checkbox('setting_show_origin').checkbox.squarebox
				span(data-i18n='show_origin')
	.setting-char
		span(data-i18n='resistance_bonus')
		each attribute in Object.keys(actionData)
			label
				+number-input(`setting_resbonus_${attribute}`)(value='0')
				span(data-i18n=attribute)
	.setting-char
		label
			+checkbox('setting_consequence_query').checkbox.squarebox
			span(data-i18n='query_for_consequence')
	//- Default load numbers
	.setting-char
		span(data-i18n='load:')
		label
			+number-input('setting_load_l')(value='3')
			span(data-i18n='light')
		label
			+number-input('setting_load_n')(value='5')
			span(data-i18n='normal')
		label
			+number-input('setting_load_h')(value='6')
			span(data-i18n='heavy')
	//- If you only have one type of trauma, you can delete the next element
	.setting-char
		label
			select(name='attr_setting_traumata_set', title='Traumata')
				each type in Object.keys(traumaData)
					option(value=type, data-i18n=type)
			span(data-i18n='traumata')
	//- Special vices for the spirit playbooks. Can be deleted safely.
	if (showSpecialVice)
		.setting-char
			label
				select(name='attr_setting_vice_type', title='Vice')
					option(value='normal', data-i18n='normal', selected)
					option(value='ghost', data-i18n='ghost')
					option(value='hull', data-i18n='hull')
					option(value='vampire', data-i18n='vampire')
				span(data-i18n='vice')
	.setting-char.setting-crew.setting-faction
		label
			+checkbox('setting_flexwidth').checkbox.squarebox
			span(data-i18n='flexible_width')
	.setting-char.setting-crew.setting-faction
		label
			+checkbox('setting_focus_shadow')(checked).checkbox.squarebox
			span(data-i18n='show_outline')
	.setting-char.setting-crew.setting-faction
		label
			+checkbox('setting_show_broadcast')(checked).checkbox.squarebox
			span(data-i18n='show_broadcast')
	.setting-char.setting-crew
		label
			+checkbox('setting_autofill')(checked).checkbox.squarebox
			span(data-i18n='fill_fields')
	.setting-char.setting-crew
		+text-input('chat_image')(value='').wide
		span(data-i18n='chat_image')
	.setting-char.setting-crew.setting-faction.kirsty-option
		label
			+checkbox('setting_usekirsty').checkbox.squarebox
			span(data-i18n='use_kirsty')
	.setting-faction
		label
			+checkbox('setting_clocks_only').checkbox.squarebox
			span(data-i18n='clocks_only')
